##### I have some questions for you that I need answered before the board meeting Thursday afternoon. My questions are listed below; however, if you discover anything else important that I didn’t think to ask, please include that as well.

1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldn’t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
7. Which lessons are least accessed?
8. Anything else I should be aware of?

In [149]:
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import seaborn as sns
import env
import joint_prepare

In [98]:
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'
query = '''
Select * from logs
left join cohorts on logs.cohort_id = cohorts.id
ORDER BY date ASC, time ASC;
'''
df = pd.read_sql(query, url)

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        900223 non-null  object
 1   time        900223 non-null  object
 2   path        900222 non-null  object
 3   user_id     900223 non-null  int64
 4   cohort_id   847330 non-null  float64
 5   ip          900223 non-null  object
 6   id          847330 non-null  float64
 7   name        847330 non-null  object
 8   slack       847330 non-null  object
 9   start_date  847330 non-null  object
 10  end_date    847330 non-null  object
 11  created_at  847330 non-null  object
 12  updated_at  847330 non-null  object
 13  deleted_at  0 non-null       object
 14  program_id  847330 non-null  float64
dtypes: float64(3), int64(1), object(11)
memory usage: 103.0+ MB

In [100]:
df.isnull().sum()

date               0
time               0
path               1
user_id            0
cohort_id      52893
ip                 0
id             52893
name           52893
slack          52893
start_date     52893
end_date       52893
created_at     52893
updated_at     52893
deleted_at    900223
program_id     52893
dtype: int64

In [101]:
df.user_id.value_counts()

11     17913
64     16347
53     12329
314     7783
1       7404
       ...
66         1
163        1
918        1
212        1
952        1
Name: user_id, Length: 981, dtype: int64

In [102]:
(df.isnull().sum()/df.shape[0]*100)[:] # Percentage of nulls in each column

date            0.000000
time            0.000000
path            0.000111
user_id         0.000000
cohort_id       5.875544
ip              0.000000
id              5.875544
name            5.875544
slack           5.875544
start_date      5.875544
end_date        5.875544
created_at      5.875544
updated_at      5.875544
deleted_at    100.000000
program_id      5.875544
dtype: float64

In [103]:
dfnull = df[df.program_id.isnull()]

In [104]:
df[df.updated_at.isnull()].user_id.value_counts()

354    2965
736    2358
363    2248
716    2136
368    2085
       ...
644       6
663       4
62        4
89        3
176       3
Name: user_id, Length: 78, dtype: int64

- looks like there are about 78 unique user_ids with the chunk of null values, could be admin/non-student

In [105]:
df[df.path.isnull()]

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
506305,2020-04-08,09:25:18,None,586,55.0,72.177.240.51,55.0,Curie,#curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,None,3.0

In [106]:
df[df.created_at == df.updated_at]

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1.0
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,None,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900218,2021-04-21,16:41:51,jquery/personal-site,64,28.0,71.150.217.33,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
900219,2021-04-21,16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
900220,2021-04-21,16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
900221,2021-04-21,16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
900222,2021-04-21,16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0

In [107]:
df.updated_at.value_counts()

2018-12-06 17:04:19    84031
2019-07-15 16:57:21    40730
2019-01-20 23:18:57    38096
2020-09-21 18:06:27    37109
2020-01-13 21:17:08    36902
2018-05-25 22:25:57    35636
2020-03-23 17:52:16    33844
2020-07-29 18:41:13    33568
2019-09-16 13:07:04    32888
2020-07-13 18:32:19    32015
2018-01-08 13:59:10    30926
2020-05-26 19:22:44    29855
2019-05-28 18:41:05    29356
2018-03-05 14:22:11    28534
2019-11-04 18:27:07    28033
2018-09-17 19:09:51    27749
2019-08-20 14:38:55    26538
2018-07-23 15:02:25    25586
2019-03-18 20:35:06    25359
2020-11-02 20:43:58    23691
2020-02-03 19:31:51    21582
2018-11-05 15:26:37    20743
2020-09-30 15:54:46    17713
2020-12-07 16:58:43    16623
2021-01-20 21:31:11    16397
2016-06-14 19:52:26    14775
2020-12-07 15:20:18    14715
2016-07-18 19:06:27     9587
2021-03-15 18:18:20     8562
2017-09-27 20:22:41     7444
2021-03-15 19:57:09     7276
2017-02-06 17:49:10     4954
2017-03-28 00:33:12     2158
2021-04-12 18:07:21     1672
2017-06-05 20:12:10     1237
2016-10-26 14:30:19      755
2016-09-26 15:58:53      691
Name: updated_at, dtype: int64

In [108]:
df.program_id.value_counts()

2.0    713365
3.0    103412
1.0     30548
4.0         5
Name: program_id, dtype: int64

In [109]:
df[df.name== "Staff"].user_id.value_counts()

11     15178
64     12530
428     5819
1       5787
248     5027
314     4617
53      4132
545     3528
211     3162
581     2961
546     2585
514     2073
315     2042
404     1668
816     1527
742     1507
480     1256
146     1216
521     1088
430      981
744      651
951      583
893      402
572      390
37       374
502      357
618      318
397      305
630      253
41       204
257      160
308      151
513      132
854      131
312      131
738      128
653      117
953       85
539       84
40        66
620       58
370       54
813       49
855       47
745       46
894       29
148       26
461       11
980        3
652        1
592        1
Name: user_id, dtype: int64

#### Cleaning the Data
- following the merging of the tables there are some simple cleaning steps we can take. 
- deleted_at column is 100% null, can be removed. 
- updated_at and created_at are duplicate columns, updated_at can be removed. - - Slack col is duplicate of name, drop it. id and cohort_id are duplicates, drop id

In [110]:
def clean_curriculum(df):
    #drop unneeded columns
    df = df.drop(['deleted_at'], axis=1)
    df = df.drop(['updated_at'], axis=1)
    df = df.drop(['slack'], axis=1)
    df = df.drop(['id'], axis=1)
    
    #
    
    
    #drop remaining nulls
    df = df.dropna()
    
    return df

In [111]:
df = clean_curriculum(df)

In [112]:
df.head(2)

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0

In [113]:
df[(df.name == "Hampton") & (df.ip == '97.105.19.61')]

,date,time,path,user_id,cohort_id,ip,name,start_date,end_date,created_at,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
58,2018-01-26,10:40:15,javascript-i/functions,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
...,...,...,...,...,...,...,...,...,...,...,...
85410,2018-07-13,09:13:18,javascript-ii/map-filter-reduce,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
85411,2018-07-13,09:13:25,appendix/angular/models,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
85412,2018-07-13,09:13:48,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
85413,2018-07-13,09:13:52,toc,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0
85494,2018-07-13,10:58:48,javascript-ii/map-filter-reduce,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,1.0

In [114]:
dfnull.path.describe()

count     52893
unique     1112
top           /
freq       4459
Name: path, dtype: object

In [115]:
#Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [116]:
df[df.path != '/'].path.value_counts()

javascript-i                                                    18203
toc                                                             17591
search/search_index.json                                        17534
java-iii                                                        13166
html-css                                                        13127
                                                                ...
content/examples/javascript/primitive-types.html                    1
content/examples/javascript/conditionals.html                       1
2-storytelling/1-overview/www.qlik.com                              1
syntax-types-and-variables                                          1
appendix/professional-development/post-interview-review-form        1
Name: path, Length: 2223, dtype: int64

In [144]:
def parse_path(path):
    parts = path.split("/")
    output = {}
    if len(parts) == "/":
        output['primary_topic'] = 'None'
        output['subtopic'] = 'None'
        output['tertiary'] = 'None'  
    elif len(parts) == 1:
        output['primary_topic'] = parts[0]
        output['subtopic'] = 'None'
        output['tertiary'] = 'None'
    elif len(parts) == 2:
        output['primary_topic'] = parts[0]
        output['subtopic'] = parts[1]
        output['tertiary'] = 'None'
    else: 
        output['primary_topic'] = parts[0]
        output['subtopic'] = parts[1]
        output['tertiary'] = parts[2]
    return pd.Series(output)

In [145]:
parsed_path = df.path.apply(parse_path)

In [146]:
parsed_path

            primary_topic                        subtopic     tertiary
0                                                                 None
1                 java-ii                            None         None
2                 java-ii     object-oriented-programming         None
3                  slides     object_oriented_programming         None
4            javascript-i                    conditionals         None
...                   ...                             ...          ...
900218             jquery                   personal-site         None
900219             jquery                      mapbox-api         None
900220             jquery                            ajax  weather-map
900221  anomaly-detection  discrete-probabilistic-methods         None
900222             jquery                      mapbox-api         None

[847329 rows x 3 columns]

In [143]:
parsed_path.tertiary.value_counts()

None                                               629814
working-with-data-types-operators-and-variables      7330
flexbox                                              6867
bootstrap-grid-system                                6422
bootstrap-introduction                               5964
                                                    ...
2-Overview                                              1
Selecting_a_hypothesis_test.svg                         1
sw-planning.md                                          1
constructors-destructors.html                           1
post-interview-review-form                              1
Name: tertiary, Length: 325, dtype: int64

In [148]:
parsed_path['primary_topic'].unique()

array(['', 'java-ii', 'slides', 'javascript-i', 'mkdocs', 'git', 'spring',
       'appendix', 'index.html', 'java-i', 'html-css', 'examples',
       'javascript', 'mysql', 'content', 'jquery', 'java',
       'javascript-ii', 'teams', 'java-iii', 'prework', 'asdf', 'css',
       'single-page.html', 'home', 'assets', 'forms', 'css-i',
       'alumni-tech-survey-2018', 'alumni-tech-survey-2018.html', 'es6',
       'introduction-to-java', 'strings', 'methods', 'introduction',
       'elements', 'file-io', 'css-ii', 'functions',
       'javascript-with-html', 'conditionals', 'bom-and-dom', 'mvc',
       'students', 'fundamentals', 'setup', 'group-by',
       'finish-the-adlister', 'essential-methods', 'uploads', 'ajax',
       'student', 'hfdgafdja', 'php', '.git', '.gitignore', 'toc',
       'wp-admin', 'wp-login', 'registerUser', 'search', 'pre-work',
       'learn-to-code', 'capstone-workbook', 'jsp-and-jstl', 'html',
       'handouts', 'javascript-functions', 'login', 'quize', 'cohorts',
       'PreWork', 'app', 'register.html', 'registration',
       '5.0_Intro_Regression', 'Module_6_Classification',
       '0_Classification_Algorithms', 'Dataset_Challenge',
       '2.0_Intro_Stats', 'introduction-to-matplotlib',
       '7.0_Intro_Clustering', '8.0_Intro_Module', 'About_NLP', 'loops',
       'tables', 'users', 'arrays', 'objects', 'query', 'events',
       'user-input', 'sessions-and-cookies', 'promises', 'modules',
       'ajax-api', 'student-page', 'quiz115', 'quic', 'quiz118',
       'annotations', '3.4-basic-statements', '1._Fundamentals',
       '1.10_JobReq_Indeed', '5._Regression', 'Probability.md',
       '3.0-mysql-overview', '3.2-databases',
       '2.00.01_Navigating_Excel.md', 'Correlation.md', '2._Stats',
       '2.00_About_Excel', '2.00.01_Navigating_Excel',
       '2.03.06_CorrelationTests', '2.03.02_Sampling',
       '2.00.04_Explore_Analyze_Excel', '2.03.05_NormalityTests',
       '2.02.04_Distribution_and_Test', '2.00.02_Gather_Excel',
       '2.00.03_PrepareData_Excel', '2.00.01_Excel_Shortcuts',
       '2.00.05_Explore_Viz_Excel', '2.01_Descriptive',
       '2.02.01_Distributions', '2.03.03_Power',
       '2.00.04_PrepareData_Excel',
       '2.00.05_Charts_PivotTables_Sparklines', '2.00.03_Import_Excel',
       '2.01.00_Descriptive_Stats', '2.02.01_Probability',
       '2.02.02_Sampling', '2.02.03_Power_Analysis',
       '2.02.05_Compare_Means', '2.02.06_Correlation',
       '2.02.00_Inferential_Stats', 'Excel_Shortcuts',
       '2.00.00_Excel_Prob_Stats', '2.00.01_Intro_Excel',
       '2.00.02_Navigating_Excel', '4.0_overview', '5.00_Intro',
       '5.01_Acquire', '5.02_Prep', '5.03_Explore',
       '4.3_control_structures', '4.4_functions', '5.05_Deliver',
       '12.01_SocialNetworkAnalysis', '12.02_Recommenders',
       '4_introduction_to_sklearn', '7.01_Acquire',
       '9._Anomaly_Detection', '11.00_Intro.md',
       '11.01.01_ConnectingToSpark', '8.05_Deliver', '4.1_introduction',
       '06_moving_files', '02_listing_files', '4_Error_Handling',
       '4_Objects', '4_Matplotlib_Styles', 'database-design', '00_index',
       '3.1-mysql-introduction', '5.04.03_RidgeRegression', 'mac-tips',
       'Pipeline_Demo', '7.00_Intro', '4.2_data_types_and_variables',
       '3.5.3-limit', '3.10-more-exercises', '6.04.03_KNN',
       '6.04.02_DecisionTree', '3.3-tables',
       '4.6.2_introduction_to_numpy', '2.02.02_Functions', '01_intro',
       '05_creating_files_and_directories', '11._DistributedML.md',
       '03_file_paths', '04_navigating_the_filesystem',
       'Stats_Assessment', '13.02_Tableau', '3.9-temporary-tables',
       '4.5_imports', '4.6.3_introduction_to_pandas',
       '4.6.4_introduction_to_seaborn', '3.5.0-clauses-overview',
       '3.5.1-where', '3.5.2-order-by', '3.6-functions', '3.7-group-by',
       '3.8.0-relationships-overview', '3.8.1-indexes', '3.8.2-joins',
       '3.8.3-subqueries', '4.6.0_DS_Libraries_Overview',
       '4.6.1_introduction_to_matplotlib', '5.04.02_OrdinaryLeastSquares',
       '5.04.04_LeastAngleRegression', '5.04.05_Exercises',
       '6._Classification', '6.00_Intro', '6.01.01_AcquireSQL',
       '6.01.02_Acquirecsv', '6.01.03_Summarize', '6.02.01_Prep',
       '6.02.02_MissingVals', '6.03_Explore', '6.04.01_Preprocessing',
       '6.04.04_LogisticRegression', '6.04.05_SVM',
       '6.04.06_RandomForest', '6.04.07_Ensemble', '6.05_Deliver',
       '7._Clustering', '7.02_Prep', '7.03_Explore',
       '7.04.01_Partitioning', '7.04.02_Hierarchical',
       'dendogram_sample.jpeg', '8._Time_Series', '8.00_Intro',
       '8.01_Acquire', '8.02_Prep', '8.03_Explore',
       '8.04.02_ParametricModeling', '8.04.03_MLModeling', '9.20_Data',
       '10._NLP', '10.00_Intro.md', '10.01_Acquire_WebScraping',
       '10.00_Intro.html', '10.02.01_ParseText', '10.02.02_POSTagging',
       '10.02.03_TFIDF', '10.03_Explore',
       '10.04.01_FeatureExtraction_FreqBased',
       '10.04.02_FeatureExtraction_Word2Vec',
       '10.04.03_SentimentAnalysis', '10.04.04_TextClassification',
       '10.04.05_TopicModeling', '10.10_Exercises', '11.03_Explore.md',
       '11.04_Modeling.md', '13._Storytelling', '13.00_Intro.md',
       '13.01.01_Understand', '13.01.02_Create', '13.01.02.01_Prep',
       '13.01.02.02_TalkAndListen', '13.01.02.03_Sketch',
       '13.01.02.04_Prototype', '13.01.03_Refine', '13.01.04_Present',
       '13.03_Bokeh', '13.11_Exercises', 'sql', '07_more_topics',
       'ordinary_least_squares.jpeg', 'Univariate_Regression_Excel',
       'Multivariate_Regression_Excel', '11._DistributedML',
       '11.00_Intro', 'habn', 'extra-features',
       'Univariate_Regression_Python', '00_', 'cli-00-overview',
       'cli-01-intro', 'Intro_to_Regression_Module',
       'Intro_to_Regression', 'Regression_Python', 'Exercises',
       'Regression%20_Project.md', 'Regression_Project',
       '6._Classification.md', '6.00_Intro.md', 'handout',
       'MachineLearning_CheatSheet', '11.01.02_DataAcquisition',
       'Intro_to_Classification_Module', 'Classification_KNN',
       '4_Projects', 'capstone', '4_list_comprehension_exercises',
       'Intro_to_Classification', 'Classification_AcquireData',
       'Classification_DataPrep', 'Classification_Explore',
       'Classification_LogisticRegression.md', '4_panda_bears',
       'Classification_LogisticRegression',
       'Classificaiton_LogisticRegression', 'Classification_DecisionTree',
       'Classification_Project', 'BuiltIn_Datasets',
       'Appendix_RidgeRegression', 'Appendix_LeastAngleRegression',
       'Appendix_Tidy_Data', 'Classification_RandomForest',
       'Classification_Exercises', 'Clustering_Acquire', 'htmle-css',
       '130', '132', '131', '133', '135', '115',
       'Classification_DecisionTree_files', 'Clustering_Intro_Module',
       'Clustering_Intro', 'Hospital-Distance-Clusters.jpg',
       '6.1_Overview', '6.2_About', '6.3_Acquire', '6.4_Prep',
       '6.5_Explore', '6.6.2_Decision_Tree', '6.6.1_Logistic_Regression',
       '6.6.3_Random_Forest', '6.6.4_KNN', '6_Exercises', '6_Project',
       'inheritance-and-polymorphism', 'interfaces-and-abstract-classes',
       'collections', 'Clustering_KMeans_1', 'Clustering_KMeans_2',
       'Clustering_Prep.md', 'Clustering_Explore', '7.2_About',
       '7.1_Overview', '7.3_Wrangle', '7.4_Explore', '7.5.1_KMeans1',
       '7.5.2_KMeans2', '7_DBSCAN', '7_kmeans_by_hand',
       '8._Time_Series.md', '8.1_Overview', '8.3_Acquire', '8.4_Prep',
       '8.5_Explore', '8.6.1_ParametricModeling', '8.6.2_MLModeling',
       '8.2_About', '7_Exercises', '7_Project', '8.7_Deliver',
       'bonus-exercises', 'data', 'datascience', 'data-1', 'data-science',
       'quizzes', 'quizes', 't9-solution', '8_Exercises', '8.6.2_Prophet',
       '8_Project', 'warmups', 'Exploration_Lecture', '8_Appendix_SVR',
       'Model_NaiveBayes', '9_Anomaly_Detection', '9.1_About',
       '9_Exercises', '9.2_Detect_through_Probability',
       '9.3_Detect_Through_Isolation_Forest',
       '9.4_Detecting_TimeSeries_Anomalies',
       '9.5_DBSCAN_to_detect_anomalies', 'AnomalyDetectionCartoon.jpeg',
       '9.3_Detecting_TimeSeries_Anomalies',
       '9.4_Detect_Through_Isolation_Forest', 'arash-arghavan',
       '9_Appendix_TSAD_Lesson', '9_Appendix_TSAD_Lesson2',
       '9_Appendix_TSAD_Lesson3', '9_Appendix_Isolation_Forest',
       '9.5_DBSCAN_to_detect_anomalies.md',
       '9.4_DBSCAN_to_detect_anomalies', 'open_data', '10.00_Intro',
       '10_Regex', 'DataSets_Elo_CustomerLoyalty', '10.2_Regex',
       '10.3_Acquire', '10_Exercises', '10.1_Overview', '10.4_Prepare',
       'sequel-pro', '10.5_Explore', '10.6_Model',
       '11.01.01_ConnectingToSpark.md', '11.01.02_DataAcquisition.md',
       '11.02_TransformData', 'github_repo_language.gif', '10_Project',
       'ada-python-assessment.html', '10_Appendix_EntityLabeling',
       '11.01.03_Summarize.md', '11.02_TransformData.md',
       '11.01_GettingStarted', '11_SparkArchitecture',
       '11.02_DataAcquisition', '11_Environment_Setup', '11.03_Inspect',
       '11.04.01_Prepare_part1', '11.04.02_Prepare_part2',
       '11.04.03_Prepare_part3', '11.04.04_Prepare_part4', '11_Exercises',
       '11.05_Explore', '11.06.01_Model_TopicModeling',
       '11.06.02_Model_Classification', 'team-setups', 'capstones',
       'cli-06-moving-files', '12.1_Tidy_Data', '12.2_Cross_Validation',
       '13_Overview', '12.3_Developing_Data_Products', '13.5_Tableau',
       '13_Exercises', '13_Appendix_BadCharts',
       'misleading1_baseball.jpg', 'misleading3_deaths.jpg',
       'misleading1_fox.jpg', '13_Appendix_ChartTypes',
       '13_Appendix_Keywords', '12.3.1_Virtual_Environments',
       '12.3.2_Building_A_Model', '12.3.3_Flask_Intro',
       '12.3.4_HTML_Templates', '12.3.5_HTML_Forms',
       '12.3.6_Page_Styling', '12.3.7_JSON_Responses', 'cheatsheet.tex',
       '13.1_Understand', '13.2_Create', '13.3_Refine', '13.4_Present',
       'logouts', 'tools', 'python', 'src', 'main', 'help', 'glossary',
       'SVM_NLP', 'quiz', 'file.dat', '6_SVM', '6_Ensemble',
       '6_CustomFillNulls', 'ada-capsontes.html', 'instructors',
       'interview', 'interview-questions', 'testing-user-functions',
       'deployment-and-dependencies', 'jdbc', 'cli-02-listing-files',
       'cli-03-file-paths', 'cli-04-navigating-the-filesystem',
       'cli-05-creating-files-and-directories', 'cli-07-more-topics',
       '1-fundamentals', '3-sql', '4-python', '5-regression',
       '12-advanced-topics', '6-classification', '11-distributed-ml',
       '2-stats', '7-clustering', '8-timeseries', '9-anomaly-detection',
       '10-nlp', 'web-design', 'documentation', 'effects', 'register.',
       '13-storytelling', '2-sql', '4-stats', '3-python', '6-regression',
       '10-anomaly-detection', '2-storytelling', '11-nlp', '8-clustering',
       '9-timeseries', 'content..', '13-advanced-topics', '5-stats',
       '12-distributed-ml', '7-classification', 'study-session-with-ryan',
       '3-vocabulary.md', 'servlets', '167', 'npm', 'cli', '6-stats',
       '7.4.1-pandas-overview', '7.4.2-series', 'tc-ml', 'itc-ml',
       'itc%20-%20ml', 'ltc.-ml', 'php_i', 'end_to_end_clustering',
       'End_to_End_clustering', 'capsones', 'ml-ltc', 'alumni',
       '3-discrete-probabilistic-methods',
       '4-detecting-timeseries-anomalies', '1-overview',
       '5-detecting-with-clustering', 'ltc',
       'hello-bayes-cohort-yall-are-awesome', 'find_me_curie!(12.3.19)',
       'Index.html', 'bayes-python-assessment-4586.html', 'studentx',
       'bayes-capstones', 'java-1', 'code-standards', 'further-reading',
       'user', 'hand', '3-databases', 'curie-python-assessment.html',
       'curie-python-assessemt', 'curie-python-assessment',
       'modern-data-scientist.jpg', 'AI-ML-DL-timeline.jpg',
       '3-data-types-and-variables', 'fer', 'syntax-types-and-variables',
       'console-io', '3-probability-distributions', '4.2-compare-means',
       'ltc-python', 'prework.com', 'curie-stats-assessment',
       'curie-statistics-assessment', 'stats-assessment',
       'statistics-assessment', '4.5-more-statistical-testing-examples',
       'project', 'ui', 'relationships', 'main-pages_xXxXx.html',
       '%20https:', ',%20https:', 'classification',
       'professional-development', 'pair-programming', 'A-clustering',
       'b-clustering', 'coffee_consumption.csv', 'grades', 'loguout',
       'databases', 'basic-statements', '3-acquire', 'ds', 'passwords',
       'exceptions-and-error-handling', 'sample-database', 'j',
       '1.2-data-science-pipeline', '1.3-pipeline-demo', '3-vocabulary',
       '2.1-spreadsheets-overview', 'web-dev-day-two',
       'anomaly-detection', 'stats', 'advanced-topics', 'regression',
       'clustering', 'timeseries', 'nlp', 'storytelling',
       'distributed-ml', 'register%20t', 'one', 'imports', 'overview',
       'codeup-exercises', 'codeupexercises', 'extra-challenges',
       'sw-project-planning', 'repo-doc', 'darden-python-assessment.html',
       'pandas-overview', 'series', 'dataframes', 'intro-to-matplotlib',
       'slidesexceptions_and_errorhandlings', 'create', 'refine',
       'present', 'bad-charts', 'phpinfo', 'simulation', 'compare-means',
       'javascri', 'asset-manifest.json', 'api',
       'working-with-time-series-data', 'acquire', 'explore',
       'modeling-lesson1', 'split-and-scale', 'scale_features_or_not.svg',
       'prep', 'object-oriented-programming', 'ltc-ml', '.well-known',
       'jacascript-i', 'sgithubtudents', 'regular-expressions',
       'javascript-1', 'prepare', 'model', 'DataToAction_v2.jpg',
       'coding-challenges', 'users.json', 'timeline', 'short_evaluation',
       'javascript-', 'environment-setup', 'vocabulary', 'extra-',
       'json-responses', 'evaluation', 'mini_exercises', "'",
       'RESTful-api', 'mysql-introduction', 'bio',
       'introduction-to-python', 'f', 'understand',
       'control-statements-and-loops', 'creating-charts',
       'Selecting_a_hypothesis_test.svg',
       'classical_programming_vs_machine_learning.jpeg', 'tidy-data',
       'extra-exercises', 'aliases', 'decision-trees', 'viz.py',
       'acquire-and-prep', 'mapbox-api', 'jupiter', 'team', 'index',
       'spark-execution-diagram.svg', 'spark-local-mode.svg',
       'ajax-api-request.html', 'evaluate', 'user-defined-functions.md',
       'strudents', 'data-science-pipeline', 'sql.mysql-overview',
       'coffee-project', 'joins', 'subqueries',
       'data-science-modules.jpg',
       'diagram-of-ds-pipeline-fraud-example.jpeg',
       'ml-methodologies-drawing.jpg', 'case-statements', 'where',
       'extra', 'job-portal', 'job-board', 'individual-project',
       'selectors', 'easley-python-assessment.html',
       'florence-python-assessment.html'], dtype=object)

In [150]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,900213,900214,900215,900216,900217,900218,900219,900220,900221,900222
date,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,2018-01-26,...,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21,2021-04-21
time,09:55:03,09:56:02,09:56:05,09:56:06,09:56:24,09:56:41,09:56:46,09:56:48,09:56:59,09:58:26,...,16:38:14,16:41:29,16:41:31,16:41:49,16:41:51,16:41:51,16:42:02,16:42:09,16:44:37,16:44:39
path,/,java-ii,java-ii/object-oriented-programming,slides/object_oriented_programming,javascript-i/conditionals,javascript-i/loops,javascript-i/conditionals,javascript-i/functions,javascript-i/loops,javascript-i/functions,...,java-iii/servlets,javascript-i,javascript-ii,jquery,javascript-i/bom-and-dom/dom,jquery/personal-site,jquery/mapbox-api,jquery/ajax/weather-map,anomaly-detection/discrete-probabilistic-methods,jquery/mapbox-api
user_id,1,1,1,1,2,2,3,3,2,4,...,834,64,64,64,875,64,64,64,744,64
cohort_id,8.0,8.0,8.0,8.0,22.0,22.0,22.0,22.0,22.0,22.0,...,134.0,28.0,28.0,28.0,135.0,28.0,28.0,28.0,28.0,28.0
ip,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,97.105.19.61,...,67.11.50.23,71.150.217.33,71.150.217.33,71.150.217.33,24.242.150.231,71.150.217.33,71.150.217.33,71.150.217.33,24.160.137.86,71.150.217.33
name,Hampton,Hampton,Hampton,Hampton,Teddy,Teddy,Teddy,Teddy,Teddy,Teddy,...,Luna,Staff,Staff,Staff,Marco,Staff,Staff,Staff,Staff,Staff
start_date,2015-09-22,2015-09-22,2015-09-22,2015-09-22,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,2018-01-08,...,2020-12-07,2014-02-04,2014-02-04,2014-02-04,2021-01-25,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
end_date,2016-02-06,2016-02-06,2016-02-06,2016-02-06,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,2018-05-17,...,2021-06-08,2014-02-04,2014-02-04,2014-02-04,2021-07-19,2014-02-04,2014-02-04,2014-02-04,2014-02-04,2014-02-04
created_at,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2016-06-14 19:52:26,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,2018-01-08 13:59:10,...,2020-12-07 16:58:43,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2021-01-20 21:31:11,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19,2018-12-06 17:04:19
program_id,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0